* {margin: 0; padding: 0;}

div.main {
  border: solid 2px #0070ff;
  margin: 40px auto;
  width: 350px;
  background: #4586ff;
  color: white;
}

h2,form {
  margin: 0px;
  padding: 15px;
  font-family: sans-serif;
}

p { margin-top: 20px;}

h2 {
  font-weight: 500;
  border-bottom: solid 1px;
}

input[type="email"]{ width: 300px; }

input[type="submit"] {
  margin-top: 11px;
  padding: 5px 5px;
  background: #c5ff00;
  font: 11pt;
  font-family: sans-serif;
  border: none;
}

form div { margin-right: 20px; float: left;}
